.App {
  text-align: center;
}


h1 {
  color: rgb(0, 195, 255);
  font-size: 27px;
}

.result {
  height: 60px;
  background-color: rgba(235, 241, 241, 0.993);
  width: 100%;
}
 .result p {
   font-size: 40px;
   margin: 5px;
   padding-top: 5px;
   text-align-last: center;
   color: rgb(7, 12, 1);
 }

 .calculator-body {
  max-width: 400px;
  margin: auto;
}
.button {
  display: block;

}
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(94, 172, 245)!important;
}
